@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");

body {
  background-color: #f6f6f6;
  padding: 50px 25px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  max-width: 770px;
  width: 100%;
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  font-weight: bolder;
}

.title {
  font-size: 50px;
}

.number {
  font-size: 30px;
}

.description {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

.text {
  width: min-content;
  font-size: 11px;
}

.circle-container {
  margin: 20px 0;
  display: flex;
  justify-content: space-evenly;
}

.circle {
  width: 200px;
  height: 200px;
  border-radius: 100px;
}

.aqua {
  background-color: aqua;
}

.bisque {
  background-color: bisque;
}

.tomato {
  background-color: tomato;
}
