@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template:
    "changes indigo speakers artists" 1fr
    "about white speakers artists" 1fr
    "about tickets speakers artists" 1fr / 1fr 1fr 1fr 1fr;
}

#changes {
  grid-area: changes;
  background-color: black;
  color: white;
  font-size: 2.5em;
}

#indigo {
  grid-area: indigo;
  background-color: #6c01ff;
}

#about {
  grid-area: about;
  background-color: #ff1502;
  color: black;
  font-size: 2em;
}

#white {
  grid-area: white;
  background-color: white;
}

#tickets {
  grid-area: tickets;
  background-color: #ffc904;
  color: black;
  font-size: 2em;
}

#speakers {
  grid-area: speakers;
}

#artists {
  grid-area: artists;
}

h4 {
  font-size: 1.5em;
}

#speakers ul,
#artists ul {
  font-size: 2em;
}
